<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /encartes/
    
    # Se arquivo existe, permitir acesso
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Se diretório existe, permitir acesso  
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
</IfModule>